<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css"
    integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
    {% block style %}{% endblock %}
    <title>Nesplash_O</title>
</head>
<body>
    <header class="main-header">
        <nav class="nav">
            <div class="nav-div-left">
                <li><a class="website-title navbar-brand-2" href="{{ url_for('main.index') }}">Nesplash_O</a></li> 
                <li><a class="navbar-brand-2" href="{{ url_for('foodie.index') }}">Foodie</a></li>
                <li><a class="navbar-brand-2" href="{{ url_for('nature.index') }}">Nature</a></li>
                <li><a class="navbar-brand-2" href="{{ url_for('architecture.index') }}">Architecture</a></li>
                <li><a class="navbar-brand-2" href="{{ url_for('travel.index') }}">Travel</a></li>
                <li><a class="navbar-brand-2" href="{{ url_for('athletics.index') }}">Athletics</a></li>
                <li><a class="navbar-brand-2" href="{{ url_for('people.index') }}">People</a></li>
            </div>
            <div class="nav-div-right">
                <li class="nav-li-right">
                    <a id="signin" class="navbar-brand-2" href="{{ url_for('user.signin') }}">Signin</a>
                    <a id="signup" class="navbar-brand-2" href="{{ url_for('user.signup') }}">Signup</a>
                </li>
            </div>
        </nav>
    </header>

    <section class="main-section">
        {% block content %}{% endblock %}
    </section>
    <script>
        window.port = "http://127.0.0.1:5000"
    </script>
    <script src="{{ url_for('static', filename='js/common.js') }}"></script>
    {% block script %}{% endblock %}
</body>
</html>