{% extends 'layout.html' %}


{% block style %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
{% endblock %}

{% block content %}
    <div class="main-section-1-div">
        <form class="section-1-searchBox" >
            <input type="text" placeholder="輸入關鍵字" id="section-1-input-keyword"  minlength="3">
            <div class="section-1-searchDiv">
                <button id="mag-btn">
                    <img src="{{ url_for('static', filename='icon_search.png') }}" id="section-1-mag" />
                </button>
            </div>
        </form>
        <div id="search-photos" style="background: rgb(68, 136, 153);" class="search-keyword"></div>
        <label>photos</label>
        <div id="search-users" style="background: white;" class="search-keyword"></div>
        <label>users</label>
    </div>
    
    <section id="main-section-2">
        <!-- dynamic loading photo's data -->
    </section>
{% endblock %}

{% block script %}
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
{% endblock %}