{% extends 'layout.html' %}

{% block style %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/public.css') }}">
{% endblock %}

{% block content %}
    <div class="public-section-1">
        <!-- dynamic loading user's data -->
    </div>
    <hr>
    <div id="public-section-2">
        <!-- dynamic loading photo's data -->
    </div>
{% endblock %}


{% block script %}
    <script src="{{ url_for('static', filename='js/public.js') }}"></script>
{% endblock %}