{% extends 'layout.html' %}

{% block style %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/reset.css') }}">
{% endblock %}

{% block content %}
    <form class="resetRequest-form" onsubmit="return false">
        <div class="resetRequest-div">
            <label class="resetRequest-label">Password : </label>
            <input class="resetRequest-password" placeholder="輸入密碼" type="password" required>
        </div>
        <div class="resetRequest-div">
            <label class="resetRequest-label">Confirm Passowrd : </label>
            <input class="resetRequest-confirm-password" placeholder="請再輸入一次密碼" type="password" required>
        </div>
        <div class="resetRequest-div">
            <button class="resetRequest-btn">Submit</button>
    </form>
{% endblock %}


{% block script %}
    <script src="{{ url_for('static', filename='js/token.js') }}"></script>
{% endblock %}